{% extends "redshiftClicks/base.html" %}
{% load static %}

{% block navbar %}
   {% include "web_analytics/navbar.html" %}
{% endblock navbar %}

{% block content %}

<h3>Welcome to collegedunia-analytics-portal</h3>
<ul>
   
      <li><a href="{% url 'redshiftClicks-index' %}">RedShift-data</a></li>
      <li><a href="{% url 'web_analytics-index' %}">Analytics</a></li>
      <li><a href="{% url 'web_analytics-kwplanner' %}">keyword-planner</a></li>
      <li><a href="{% url 'cd_ranking' %}">CD-Ranking</a></li>
      <!-- <li><a href="{% url 'cd_notification' pk=1 %}">Notification dashboard</a></li> -->
      {% comment %} <li><a href="{% url 'rank_tool-index' %}">Rank Tool</a></li> {% endcomment %}

</ul>

{% endblock content %}
  
