<header class="site-header">
      
        <nav class="navbar navbar-inverse navbar-expand-sm fixed-top">
            <div class="container-fluid">

                  <!-- <div class="navbar-header">
                    <a class="navbar-brand" href="#">collegedunia</a>
                   
                  </div> -->

                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'redshiftClicks-index' %}">RedShift-data</a></li>
                        <li><a href="{% url 'web_analytics-index' %}">Analytics</a></li>
                        <li><a href="{% url 'web_analytics-kwplanner' %}">keyword-planner</a></li>
                        <li><a href="{% url 'cd_ranking' %}">CD-Ranking</a></li>
                        <li><a href="{% url 'cd_notification' pk=1 %}">Notification dashboard</a></li>
                        {% comment %} <li><a href="{% url 'rank_tool-index'  %}">Rank Tool</a></li> {% endcomment %}
                 
                      </ul>
               
                   
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Hi {{user}}</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        
                        {% else %}
                        <!--<li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span>Register</a></li>-->
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        {% endif %}
                    </ul>
                  
              </div>
          
          </nav>
     
    </header>
