<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "dashboard/allstatic/css/navigation.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "dashboard/allstatic/css/dashboardbody.css" %}'>
    

    <title>Dashoard</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'redshiftClicks-index' %}">RedShift-data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'web_analytics-index' %}">Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'web_analytics-kwplanner' %}">keyword-planner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Ranking-dashboard</a>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="{% url 'rank_tool-index'  %}">Rank Tool</a>
            </li> {% endcomment %}
          </ul>
          <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </div>
      </div>
    </nav>
    {% comment %} {% block navbar %}
    {% include "redshiftClicks/navbar.html" %}
    {% endblock navbar %} {% endcomment %}

    <header>
      <div class="first-section">
        <div class="logo">
          <img src="" id="logo" alt="" />
          <strong>RankTron</strong>
        </div>

        <form action="" method="get" >
          <select class="form-select brand-filter" id="selectBrand"
          aria-label="Default select example" onchange="selectBrands();" data-bs-toggle="tooltip" data-bs-placement="top" title="CollegeDunia is default"  >
            <option id="show-brand" value="" disabled selected hidden>CollegeDunia</option>
            <option value="collegedunia">CollegeDunia</option>
            <option value="prepp" >Prepp</option>
          </select>
        </form>
        
        {% comment %} <div class="adddomain">
          <button><i class="bi bi-plus"></i></button>
        </div> {% endcomment %}
      </div>
      <div class="headericon">
        <div class="messages">
          <i class="bi bi-chat-left-text-fill"></i>
        </div>
        <div class="notification">
          <i class="bi bi-bell-fill"></i>
        </div>
        <div class="flex-shrink-0 dropdown">
          <a
            href="#"
            class="d-block link-dark text-decoration-none dropdown-toggle"
            id="dropdownUser2"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            
          </a>
          <ul
            class="dropdown-menu text-small shadow"
            aria-labelledby="dropdownUser2"
          >
            
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </header>

    <div class="l-navbar" id="navbar">
      <nav class="nav">
        <div>
          <div class="nav__brand">
            <ion-icon
              name="menu-outline"
              class="nav__toggle"
              id="nav-toggle"
            ></ion-icon>
            <a href="#" class="nav__logo"></a>
          </div>
          <div class="nav__list">
            <a href="#" class="nav__link active">
              <ion-icon name="home-outline" class="nav__icon"></ion-icon>
              <span class="nav__name">Overview</span>
            </a>
            <a href="#" class="nav__link">
              <ion-icon name="link-outline" class="nav__icon"></ion-icon>
              <span class="nav__name">Backlinks</span>
            </a>

            <a href="#" class="nav__link">
              <ion-icon name="person-outline" class="nav__icon"></ion-icon>
              <span class="nav__name">User Management</span>
            </a>

            <a href="#" class="nav__link">
              <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
              <span class="nav__name">Settings</span>
            </a>
          </div>
        </div>

        <a href="#" class="nav__link">
          <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
          <span class="nav__name">Log Out</span>
        </a>
      </nav>
    </div>
    {% comment %} <div class="loader" id="loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div> {% endcomment %}
    <div class="body-container" id="bodycontent">
      {% block body %} {% endblock body %}
      <!-- body container end  -->
    </div>
    <!-- ===== IONICONS ===== -->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
  
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script> 

    {% load static %}
    <script src="{% static "dashboard/allstatic/js/navigation.js" %}"></script>
    <script src="{% static "dashboard/allstatic/js/newdashboard.js" %}"></script>
    {% comment %} <script>
      document.onreadystatechange = function () {
        var state = document.readyState
        if (state != 'complete') {
             document.getElementById('bodycontent').style.visibility="hidden";
        } else if (state == 'complete') {
            setTimeout(function(){
               document.getElementById('interactive');
               document.getElementById('loader').style.visibility="hidden";
               document.getElementById('bodycontent').style.visibility="visible";
            },1000);
        }
      }
    </script> {% endcomment %}
  </body>
</html>
